.formField {
  margin-bottom: 20px;
}

.form {
  display: flex;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 26px;
  padding: 25px 0;
}

.form input {
  display: block;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  outline: transparent;
  border: 1px solid rgb(236, 217, 217);
  border-radius: 12px;
  padding: 20px;
  padding-left: 40px;
  font-size: 20px;
  width: 100%;
}

.form label {
  font-size: 16px;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.inputWrap {
  position: relative;
}

.error {
  color: red;
  text-align: left;
  margin-top: 4px;
}

.btn {
  background-image: linear-gradient(
    to right,
    #003236 0%,
    #0b2293 0,
    #003236 100%
  );
}
.btn {
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  outline: none;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border: none;
  border-radius: 12px;
  display: block;
  padding: 18px 60px;
  font-size: 18px;
  cursor: pointer;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
